<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.iot.explorer.device.android.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- llsync蓝牙辅助配网需要连接指定WiFi，添加WiFi权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:testOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tencent.iot.explorer.device.video.device_and_device.DeviceAndDeviceCommunicationActivity" />
        <activity android:name="com.tencent.iot.explorer.device.central.CentralMainActivity" />
        <activity android:name="com.tencent.iot.explorer.device.video.push_stream.PushStreamActivity" />
        <activity android:name="com.tencent.iot.explorer.device.video.push_stream.PushRealTimeStreamActivity" />
        <activity android:name="com.tencent.iot.explorer.device.video.VideoEntryActivity" />
        <activity
            android:name=".WiFiActivity"
            android:exported="false" />
        <activity android:name="com.tencent.iot.explorer.device.tme.TmeConfigActivity" />
        <activity android:name="com.tencent.iot.explorer.device.tme.TmeMainActivity" />
        <activity android:name=".IoTDemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.tencent.iot.explorer.device.rtc.utils.NetWorkStateReceiver">
            <intent-filter>

                <!-- 检测网络变化的acton -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".IoTMainActivity" />
        <activity android:name="com.tencent.iot.explorer.device.face.AuthActivity" />
        <activity android:name="com.tencent.iot.explorer.device.face.RetrieveWithAndroidCameraActivity" />
        <activity android:name="com.tencent.iot.explorer.device.rtc.TRTCMainActivity" />
        <activity android:name="com.tencent.iot.explorer.device.broadcast.BroadCastMainActivity" />
        <activity android:name="com.tencent.iot.explorer.device.video.call.MainActivity" />
        <activity
            android:name="com.tencent.iot.explorer.device.video.call.RecordVideoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.iot.explorer.device.video.push_stream.RecordVideoActivity2"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.iot.explorer.device.video.device_and_device.RecordVideoActivity3"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.iot.explorer.device.video.device_and_device.RecordVideoActivity4"
            android:launchMode="singleTop" />
        <activity
            android:name="com.tencent.iot.explorer.device.rtc.ui.videocall.TRTCVideoCallActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.tencent.iot.explorer.device.rtc.ui.audiocall.TRTCAudioCallActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.tencent.iot.explorer.device.broadcast.ui.broadcastcall.BroadcastAudioCallActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>